<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="brand_logo" class="section introduct-logo">
		<div class="row">
			<div
				class="tiva-manufacture  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<div class="block">
					<div id="manufacture"
						class="owl-carousel owl-theme owl-loaded owl-drag">
						<div class="item">
							<div class="logo-manu">
								<a href="#" title="view products"> <img class="img-fluid"
									src="/assets/img/home/icon-logo1.jpg" alt="img" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="logo-manu">
								<a href="#" title="view products"> <img class="img-fluid"
									src="/assets/img/home/icon-logo2.jpg" alt="img" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="logo-manu">
								<a href="#" title="view products"> <img class="img-fluid"
									src="/assets/img/home/icon-logo3.jpg" alt="img" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="logo-manu">
								<a href="#" title="view products"> <img class="img-fluid"
									src="/assets/img/home/icon-logo4.jpg" alt="img" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="logo-manu">
								<a href="#" title="view products"> <img class="img-fluid"
									src="/assets/img/home/icon-logo5.jpg" alt="img" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="logo-manu">
								<a href="#" title="view products"> <img class="img-fluid"
									src="/assets/img/home/icon-logo6.jpg" alt="img" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>