<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment ="product_section_female" class="section product-female">
		<div class="living-room">
			<div class="container">
				<div class="tiva-row-wrap row">
					<div class="groupcategoriestab-vertical col-md-12 col-xs-12">
						<div class="grouptab row">
							<!-- column 3 -->
							<div
								class="categoriestab-right col-lg-3 align-items-start d-flex flex-column col-md-3 flex-3">
								<div class="block-title-content">
									<h2 class="title-block">Female</h2>
								</div>
								<div class="cate-child-vertical">
									<ul class="d-flex align-items-start flex-column">
										<li><a href="product-grid-sidebar-left.html">Kitchen
												Shears</a></li>
										<li><a href="product-grid-sidebar-left.html">Colander</a>
										</li>
										<li><a href="product-grid-sidebar-left.html">Mixing
												Bowls</a></li>
										<li><a href="product-grid-sidebar-left.html">Grater</a></li>
										<li><a href="product-grid-sidebar-left.html">Vegetable
												Peeler</a></li>
										<li><a href="product-grid-sidebar-left.html">Rolling
												Pin</a></li>
										<li><a href="product-grid-sidebar-left.html">Baking
												Sheet</a></li>
										<li><a href="product-grid-sidebar-left.html">Oven
												Mitts</a></li>
										<li><a href="product-grid-sidebar-left.html">Dutch
												Oven</a></li>
										<li><a href="product-grid-sidebar-left.html">Salad
												Bowl</a></li>
										<li><a href="product-grid-sidebar-left.html">WINDOW</a></li>
										<li class="last float-right"><a
											href="product-grid-sidebar-left.html">View All</a></li>
									</ul>
								</div>
							</div>

							<!-- column 9 -->
							<div class="categoriestab-left product-tab col-md-9 flex-9">
								<div class="title-tab-content d-flex justify-content-start">
									<ul class="nav nav-tabs">
										<li><a href="#new_kitchen" data-toggle="tab"
											class="active">New Arrivals</a></li>
										<li><a href="#best_kitchen" data-toggle="tab">Best
												Sellers</a></li>
										<li><a href="#sale_kitchen" data-toggle="tab">Special
												Products</a></li>
									</ul>
								</div>
								<div class="tab-content">
									<!-- new kitchen -->
									<div id="new_kitchen" class="tab-pane fade in active show">
										<div
											class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/6.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/4.jpg" alt="img">
														</a>
														<div class="product-flags discount">-30%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/10.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/11.jpg" alt="img">
														</a>
														<div class="product-flags discount">-10%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">

																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/16.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/14.jpg" alt="img">
														</a>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">

																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- best kitchen -->
									<div id="best_kitchen" class="tab-pane fade">
										<div class="category-product-index owl-carousel owl-theme">
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/8.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/13.jpg" alt="img">
														</a>
														<div class="product-flags discount">-30%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/4.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/12.jpg" alt="img">
														</a>
														<div class="product-flags discount">-10%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/13.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/6.jpg" alt="img">
														</a>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- sale kitchen -->
									<div id="sale_kitchen" class="tab-pane fade">
										<div class="category-product-index owl-carousel owl-theme">
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/10.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/8.jpg" alt="img">
														</a>
														<div class="product-flags discount">-30%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/11.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/14.jpg" alt="img">
														</a>
														<div class="product-flags discount">-20%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="item text-center">
												<div
													class="product-miniature js-product-miniature item-one first-item">
													<div class="thumbnail-container">
														<a href="product-detail.html"> <img
															class="img-fluid image-cover" src="/assets/img/product/6.jpg"
															alt="img"> <img class="img-fluid image-secondary"
															src="/assets/img/product/16.jpg" alt="img">
														</a>
														<div class="product-flags discount">-20%</div>
														<div class="highlighted-informations">
															<div class="variant-links">
																<a href="#" class="color beige" title="Beige"></a> <a
																	href="#" class="color orange" title="Orange"></a> <a
																	href="#" class="color green" title="Green"></a>
															</div>
														</div>
													</div>
													<div class="product-description">
														<div class="product-groups">
															<div class="product-title">
																<a href="product-detail.html">Nulla et justo non
																	augue</a>
															</div>
															<div class="rating">
																<div class="star-content">
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																	<div class="star"></div>
																</div>
															</div>
															<div class="product-group-price">
																<div class="product-price-and-shipping">
																	<span class="price">£20.08</span>
																	<del class="regular-price">£28.68</del>
																</div>
															</div>
														</div>
														<div class="product-buttons d-flex justify-content-center">
															<form action="#" method="post" class="formAddToCart">
																<input type="hidden" name="id_product" value="1">
																<a class="add-to-cart" href="#"
																	data-button-action="add-to-cart"> <i
																	class="fa fa-shopping-cart" aria-hidden="true"></i>
																</a>
															</form>
															<a class="addToWishlist" href="#" data-rel="1" onclick="">
																<i class="fa fa-heart" aria-hidden="true"></i>
															</a> <a href="#" class="quick-view hidden-sm-down"
																data-link-action="quickview"> <i class="fa fa-eye"
																aria-hidden="true"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- banner -->
	<div class="container">
		<div
			class="section spacing-10 group-image-special col-lg-12 col-xs-12">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="effect">
						<a href="#"> <img class="img-fluid" src="img/home/effect3.jpg"
							alt="banner-1" title="banner-1">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="effect">
						<a href="#"> <img class="img-fluid" src="img/home/effect4.jpg"
							alt="banner-2" title="banner-2">
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- testimonial -->
		<div class="section testimonial-block col-lg-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 ">
					<div class="block">
						<div class="owl-carousel owl-theme testimonial-type-one">
							<div class="item type-one d-flex align-items-center flex-column">
								<div class="textimonial-image">
									<i class="icon-testimonial"></i>
								</div>
								<div class="desc-testimonial">
									<div class="testimonial-content">
										<div class="text">
											<p>" Liquam quis risus viverra, ornare ipsum vitae,
												congue tellus. Vestibulum nunc lorem, scelerisque a
												tristique non, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum "</p>
										</div>
									</div>
									<div class="testimonial-info">
										<h5 class="mt-0 box-info">David Jame</h5>
										<p class="box-dress">DESIGNER</p>
									</div>
								</div>
							</div>
							<div class="item type-one d-flex align-items-center flex-column">
								<div class="textimonial-image">
									<i class="icon-testimonial"></i>
								</div>
								<div class="desc-testimonial">
									<div class="testimonial-content">
										<div class="text">
											<p>" Liquam quis risus viverra, ornare ipsum vitae,
												congue tellus. Vestibulum nunc lorem, scelerisque a
												tristique non, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum "</p>
										</div>
									</div>
									<div class="testimonial-info">
										<h5 class="mt-0 box-info">Max Control</h5>
										<p class="box-dress">DEVELOPER</p>
									</div>
								</div>
							</div>
							<div class="item type-one d-flex align-items-center flex-column">
								<div class="textimonial-image">
									<i class="icon-testimonial"></i>
								</div>
								<div class="desc-testimonial">
									<div class="testimonial-content">
										<div class="text">
											<p>" Liquam quis risus viverra, ornare ipsum vitae,
												congue tellus. Vestibulum nunc lorem, scelerisque a
												tristique non, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum "</p>
										</div>
									</div>
									<div class="testimonial-info">
										<h5 class="mt-0 box-info">John Do</h5>
										<p class="box-dress">CSS - HTML</p>
									</div>
								</div>
							</div>
							<div class="item type-one d-flex align-items-center flex-column">
								<div class="textimonial-image">
									<i class="icon-testimonial"></i>
								</div>
								<div class="desc-testimonial">
									<div class="testimonial-content">
										<div class="text">
											<p>" Liquam quis risus viverra, ornare ipsum vitae,
												congue tellus. Vestibulum nunc lorem, scelerisque a
												tristique non, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum, accumsan ornare eros. Nullam sapien metus,
												volutpat dictum "</p>
										</div>
									</div>
									<div class="testimonial-info">
										<h5 class="mt-0 box-info">Elizabeth Pham</h5>
										<p class="box-dress">DEVELOPER</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>