<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="blog" class="section recent-post">
		<div class="title-block">RECENT POST</div>
		<div class="row">
			<div class="col-md-4">
				<div class="item-post">
					<div class="thumbnail-img">
						<a href="blog-detail.html"> <img
							src="/assets/img/home/home1-post1.jpg" alt="img">
						</a>
					</div>
					<div class="post-content">
						<div class="post-info">
							<span class="comment"> <i class="fa fa-comments-o"
								aria-hidden="true"></i> <span>0 Comments</span>
							</span> <span class="datetime"> <i class="fa fa-calendar"
								aria-hidden="true"></i> <span>April 12, 2018</span>
							</span>
						</div>
						<div class="post-title">
							<a href="blog-detail.html">Lorem ipsum dolor sit amet</a>
						</div>
						<div class="post-desc">Lorem ipsum dolor sit amet, consecte
							adipis cing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item-post">
					<div class="thumbnail-img">
						<a href="blog-detail.html"> <img
							src="/assets/img/home/home1-post2.jpg" alt="img">
						</a>
					</div>
					<div class="post-content">
						<div class="post-info">
							<span class="comment"> <i class="fa fa-comments-o"
								aria-hidden="true"></i> <span>0 Comments</span>
							</span> <span class="datetime"> <i class="fa fa-calendar"
								aria-hidden="true"></i> <span>April 12, 2018</span>
							</span>
						</div>
						<div class="post-title">
							<a href="blog-detail.html">Lorem ipsum dolor sit amet</a>
						</div>
						<div class="post-desc">Lorem ipsum dolor sit amet, consecte
							adipis cing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="item-post">
					<div class="thumbnail-img">
						<a href="blog-detail.html"> <img
							src="/assets/img/home/home1-post3.jpg" alt="img">
						</a>
					</div>
					<div class="post-content">
						<div class="post-info">
							<span class="comment"> <i class="fa fa-comments-o"
								aria-hidden="true"></i> <span>0 Comments</span>
							</span> <span class="datetime"> <i class="fa fa-calendar"
								aria-hidden="true"></i> <span>April 12, 2018</span>
							</span>
						</div>
						<div class="post-title">
							<a href="blog-detail.html">Lorem ipsum dolor sit amet</a>
						</div>
						<div class="post-desc">Lorem ipsum dolor sit amet, consecte
							adipis cing elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>