<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{home_layout}">
<head>
<meta charset="UTF-8">
<title>Auraline - Premium fashion store </title>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="main-content">
			<div class="wrap-banner">
				<div th:replace="~{home/fragments/slide_show::slide_show}"></div>
				<div id="wrapper-site">
					<div id="content-wrapper" class="full-width">
						<div id="main">
							<section class="page-home">
								<div
									th:replace="~{home/fragments/product_section_brands::product_section_brands}"></div>
								<div
									th:replace="~{home/fragments/product_section_customer::product_section_customer}"></div>
								<div class="container">
									<div th:replace="~{home/fragments/best_seller::best_seller}"></div>
									<div th:replace="~{home/fragments/recent_post::blog}"></div>
									<div th:replace="~{home/fragments/brand_logos::brand_logo}"></div>
									<div th:replace="~{home/fragments/review::review}"></div>
									<div th:replace="~{home/fragments/policy::policy}"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>